includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
#	- tools/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: 6
	tmpDir: ./tmp/phpstan

	paths:
		- src
		- tools/cli
		- tests

	ignoreErrors:
		# It's lying! It does accept DateInterface, the phpdoc is just wrong.
		- '#Parameter \#3 \$ttl of method Psr\\SimpleCache\\CacheInterface::set\(\) expects DateInterval\|int\|null, Carbon\\Carbon given\.#i'
		# I want to drop those DTO's and replace them with "native" ones + serialization, so just ignore it for now.
		- '#Property .*DTO::\$fields type has no value type specified in iterable type array\.#i'
		# Intentional.
		-
			message: '#Unreachable statement - code above always terminates\.#i'
			path: 'tests/TenantCloud/TransUnionSDK/Reports/Data/*Test.php'
